<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1007967252948-i0sbjh3hvmltbuba5d6bjaruqr0r0ce3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1007967252948-i0sbjh3hvmltbuba5d6bjaruqr0r0ce3</string>
	<key>API_KEY</key>
	<string>AIzaSyDFYR6nZY-2n9yFa3OXJrHf-wNlIwIP-RY</string>
	<key>GCM_SENDER_ID</key>
	<string>1007967252948</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mindfullnetlife</string>
	<key>PROJECT_ID</key>
	<string>mindfullnetlife</string>
	<key>STORAGE_BUCKET</key>
	<string>mindfullnetlife.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1007967252948:ios:efafeee911985345a46641</string>
</dict>
</plist>